.mat-toolbar {
    margin-bottom: 1rem;

    h1 {
        letter-spacing: 1rem;
        color: #fccc6b;
    }
}

#title {
    width: 30%;
}

#links {
    width: 15%;
}

.active {
    color: #fccc6b;
}